@model Data.Coach

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>جزئیات</title>
</head>
<body>
    <div>
        <h4>مربی ها</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Familly)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Familly)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Preambles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Preambles)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Terms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Terms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Grade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Grade)
            </dd>

            <dt>
                <img src="/CoachImages/@Model.ImageName" class="thumbnail" style="max-width: 120px" />
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.CoachID }) |
        @Html.ActionLink("بازگشت", "Index")
    </p>
</body>
</html>
