@model Data.UserSalary

@{
    ViewBag.Title = "Details";
}

<h2>جزئیات</h2>

<div>
    <h4>شهریه ی کاربران</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.PayID }) |
    @Html.ActionLink("بازکشت", "Index")
</p>
