@model Data.CoachPay

@{
    ViewBag.Title = "Details";
}

<h2>جزئیات</h2>

<div>
    <h4>حقوق مربی ها</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoachID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.PayID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
