@model IEnumerable<Data.CoachPay>

@{
    ViewBag.Title = "Index";
}

<h2>حقوق مربی ها</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoachID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoachID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pay)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.PayID }) |
            @Html.ActionLink("جزویات", "Details", new { id=item.PayID }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.PayID })
        </td>
    </tr>
}

</table>
