@model Data.ClubToolsList

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا از حذف @Model.ToolsName مطمئن هستید؟</h3>>
<div>
    <h4>لیست امکانات و اموال باشگاه</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToolsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountTools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountTools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spoiled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spoiled)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
