@model DataLayer.Help2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Help2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScHelp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScHelp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Help2Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
